################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gl-calculation.api/bin/Debug/net6.0
/.vs
/gl-calculation.api/obj
/gl-calculation.api.tests/bin/Debug/net6.0
/gl-calculation.api.tests/obj
