################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gl-calculation.api/bin/Debug/net6.0
